section {
  background-color: rgba(238,242,255,1); 
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  border-color: #e5e7eb;
  font-family: 'Roboto';
}

.container {
  max-width: 42rem;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  background-color: rgba(238,242,255,1);
  box-sizing: border-box;
  border-width: 0;
  border-style: solid; 
}

.form {
  margin: 0px;  
  background-color: rgb(255,255,255);
  padding: 2rem 1.5rem;  
  border: 1px solid #e5e7eb;  
  border-radius: 0.375rem;
}

h2 {
  text-align: center;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

label {
  display: block;
  font-weight: 700;  
  color: rgba(55,65,81,1);
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;  
  padding: 0.5rem 0.75rem;  

  border-color: #e5e7eb;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  
  border-width: 1px;
}

.btn-submit {
  width: 100%;
  border-radius: 99px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(99,102,241);
  cursor: pointer;
  border-color: #e5e7eb;
  border-width: 1px;
}

.alert {
  background-color: rgb(240, 197, 204);
  padding: 0.5rem;
  border-radius: 4px;
  color: rgb(192, 38, 38);
}