section {
  background-color: rgb(239, 246, 255);
  padding: 2.5rem 1rem;
}

.container {
  margin: auto;
}


h2 {
  color: rgb(99, 102, 241);
  text-align: center;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.grid-column {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.header {
  margin-bottom: 1.5rem;
}

.desc {
  margin-bottom: 1.5rem;
}

.btn-more {
  border: none;
  color: rgb(99, 102, 241);
  margin-bottom: 1.25rem;
  cursor: pointer;
  font-size: 100%;
}

.salary {
  color: rgb(99, 102, 241);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.border {
  border: 1px solid rgb(243, 244, 246);
  margin-bottom: 1.25rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location {
  color: rgb(194, 65, 12);
  margin-bottom: 1.25rem;
}

.btn-jobs {
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(99, 102, 241);
  border-radius: 0.5rem;

}