<section>
  <div class="container">
    <h2>Recent Jobs</h2>
  </div>
  <div class="grid">
    <div class="grid-column" *ngFor="let job of recentJobs">
      <div class="header">
        <div>{{job.type}}</div>
        <h3>{{job.jobName}}</h3>
      </div>
      <div class="desc">{{job.description.substring(90,0)+'...'}}       
      </div>
      <button class="btn-more">More</button>
      <h3 class="salary">{{job.salary}}</h3>
      <div class="border"></div>
      <div class="footer">
        <div class="location">{{job.location}}</div>
        <a class="btn-jobs" href="/jobs">Read More</a>
      </div>
    </div>

    
  </div>
</section>