<section>
  <div class="container">
    <div class="grid">
      <div class="grid-column developer">
        <h2>For Developers</h2>
        <p>Browse our React Jobs and start your career today</p>
        <a class="btn-jobs" href="/jobs">Browse Jobs</a>
      </div>
      <div class="grid-column employer">
        <h2>For Employers</h2>
        <p>List your job to find the perfect developer for the role</p>
        <a class="btn-job" href="/add-job">Add Job</a>
      </div>
    </div>
  </div>
</section>