.navbar {
  background-color: rgb(67, 56, 202);
  border-bottom: 1px solid gray;  
  padding: 15px;
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.logo-icon {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  font-size:20px;
  padding: 10px;
}

.nav-links a:hover {  
  background-color: rgba(0,0,0,0.4);
}

.nav-links a.active {
  background-color: black;
}



