section {
  background-color: rgb(238, 242, 255);
}
.container {
  padding: 1.5rem;
  margin: auto;
  background-color: white;
}

.container a,i {
  text-decoration: none;
  color: rgb(99,102,241);
  margin-left: .4rem;
}

.containergrid {
  padding: 2.5rem 1.5rem;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 70% 28%;
  gap: 1.5rem;
}

 .header {
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.text {
  color: rgb(107, 114, 128);
  margin-bottom: 1rem;
}

h1.job-name {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: rgb(194,65,12);
}

.location i {
  color: rgb(194,65,12);
}

.location p {
  font-weight: 500;
}

.desc {
  padding: 1.5rem;
  background-color: rgb(255,255,255);
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  border-radius: 0.5rem;
}

h3.job-desc {
  color: rgb(55, 48, 163);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

p.job-desc {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

h3.salary {
  color: rgb(55, 48, 163);
  font-weight: 600;
}

p.salary {
  font-size: 0.9rem;
}

.aside-header {
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

h3.company-info {
  font-size: 1.25rem;
  font-weight: 600;
}

h2.company {
  font-weight: 500;
  font-size: 1.25rem;
}

p.company-desc {
  font-size: 0.9rem;
}

hr {
  margin: 1rem 0;
  height: 0;
  border-top-width: 1px;
}

h3.email {
  font-size: 1.25rem;
  font-weight: 500;
}

p.email-adr {
  font-weight: 700;
  padding: 0.75rem;
  background-color: rgb(224, 231, 255);
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  
}

.aside-manage {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.edit-jobs {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: rgb(99, 102, 241);
  color: white;
  width: 90%;
  display: block;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border:none;
}

.btn-delete {
  padding: 0.5rem 1rem;
  background-color: rgb(239, 68, 68);
  color: white;
  width: 100%;
  display: block;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
  border:none;
  cursor: pointer;
}