<section>
  <div class="container">
    <h2>Browse Jobs</h2>
    <div class="grid">
      
      <div class="grid-column">
        <div class="header">
          <div class="job-name">Full-Time</div>
          <h3>Senior React Developer</h3>
        </div>
        <div class="desc">We are seeing a talented front-end developer to join our team in Boston</div>
        <button class="btn-more">More</button>
        <div class="salary">$70k-$80k</div>
        <div class="border"></div>
        <div class="footer">
          <div class="location">Boston,MA</div>
          <a class="btn-read">Read More</a>
        </div>
      </div>

      <div class="grid-column">
        Column2
      </div>
      
      <div class="grid-column">
        Column3
      </div>
     

    </div>
  </div>
</section>
