

section {
  /* background-color: lightpink; */
  background-color: rgba(239,246,255,1);
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container {
}

h2 {
  color: rgb(99, 102, 241);
  text-align: center;
  font-weight: 700;
  font-size: 1.87rem;
  line-height: 2.25rem;  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  margin: 3rem;
  
}

.grid-column {
  background-color: white;
  border-radius: 1rem;
 /*  border: 1px solid red; */
  
}

.header {
  margin: 0.5rem;
}

.job-name {
  color: rgb(75,85,99);
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.desc {
  margin-bottom: 1.25rem;
}

.btn-more {
  cursor: pointer;
  background-color: transparent;
  color: rgb(99,102,241);
  border: none;
  font-size:1.0rem;
  margin-bottom: 1.25rem;
}

.salary {
  color: rgb(99, 102, 241);
  margin-bottom: 0.5rem;
}

.border {
  border-color: rgb(243,244,246);
  border-width: 1.5px;
  border-style: solid;
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.location {
  color: rgb(194, 65, 12);
}

.btn-read {
  color: white;
  background-color: rgb(99, 102, 241);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

}